/* Original Styles For Numbers, before icons added in */
/* .Die {
  font-size: 25px;
  display: inline-block;
  padding: 0.5em 0.8em;
  font-family: monospace;
  font-weight: bold;
  background-color: black;
  color: white;
  margin-right: 1em;
} */

/* THE NICER STYLES MADE FOR THE FONT-AWESOME ICONS... */

.Die {
  color: white;
  padding-left: .1em;
  padding-right: .1em;
  font-size: 4em;
  text-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.Die-locked {
  color: black;
  opacity: 0.6;
  text-shadow: none;
  transition: all 0.3s ease;
}

.Die:not(.Die-locked):hover {
  cursor: pointer;
  opacity: 0.8;
}

.Die-rolling:hover,
.Die[disabled] {
  cursor: not-allowed;
}

.Die-rolling {
  animation: shake 0.9s;
  animation-iteration-count: 1;
}

@keyframes shake {
	0% {transform: translate(40px,5px) rotate(8deg);}
    10% {transform: translate(-40px,-5px) rotate(-8deg);}
    20% {transform: translate(35px,4px) rotate(6deg);}
    30% {transform: translate(-35px,-4px) rotate(-6deg);}
    40% {transform: translate(30px,3px) rotate(5deg);}
    50% {transform: translate(-30px, -3px) rotate(-5deg);}
    60% {transform: translate(20px, 2px) rotate(3deg);}
    70% {transform: translate(-20px, -2px) rotate(-3deg);}
    80% {transform: translate(10px, 1px) rotate(1deg);}
    90% {transform: translate(-10px, -1px) rotate(-1deg);}
    100% {transform: translate(0px, 0px) rotate(0deg);}
}


/* .Die-rolling {
  animation: spin 1s ease-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
