.Game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}
h2 {
  font-weight: 100;
  font-size: 2em;
  border-bottom: 2px solid purple;
  display: inline-block;
}

.Game-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Game-reroll {
  font-size: 1.5em;
  margin: 10px, 15px, 10px, 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: 100;
  transition: 0.5s;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  border: none;
  width: 50%;
  margin-bottom: 2rem;
}

.Game-reroll:hover {
  cursor: pointer;
  background-position: right center;
}

.Game-reroll:active,
.Game-reroll:focus {
  outline: none;
}

.Game-reroll:disabled {
  background-color: #ddd;
  cursor: not-allowed;
  opacity: 0.5;
}

.Game-description {
  font-style: italic;
  color: white;
}

.Game-header, .Game-footer {
  width: 100%;
  background: linear-gradient(-45deg, #673ab7, #9c27b0);
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

.Game-score {
  color: white;
  border-bottom: none;
  font-size: 1.5em;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (min-width: 900px) { 
  .Game {
    width: 500px;
  }
}

@media only screen and (max-width: 900px) { 
  .Game {
    width: 60%;
  }
}

@media only screen and (max-width: 700px) { 
  .Game {
    width: 80%;
  }
}

@media only screen and (max-width: 500px) { 
  .Game {
    width: 100%;
  }
  
}